* {
  margin: 0;
  box-sizing: border-box;
}
body {
  display: grid;
  justify-items: center;
  #page-heading {
    padding: 30px;
  }
  #settings {
    display: flex;
    flex-direction: row;
    #red {
      height: 40px;
      width: 40px;
      margin-right: 20px;
      border-radius: 10000px;
      background-color: red;
    }
    #green {
      height: 40px;
      width: 40px;
      margin-right: 20px;
      border-radius: 10000px;
      background-color: green;
    }
    #blue {
      height: 40px;
      width: 40px;
      margin-right: 20px;
      border-radius: 10000px;
      background-color: blue;
    }
    #randomColor {
      height: 40px;
      width: 40px;
      margin-right: 20px;
      border-radius: 10000px;
      background: linear-gradient(
        rgb(243, 211, 107),
        rgb(31, 28, 248),
        rgb(248, 28, 149)
      );
    }
    #reset {
      height: 30px;
      margin-bottom: 20px;
    }
  }
}
